.hero-section{
    background-color:  rgb(16, 102, 135);
    height: 400px;
}

.hero-image{
    width: 600px;
    height: 400px;
margin-left: -100px;
}
.join-image{
    width: 400px;
    height: 200px;
}


  /* Home.css */
.stats-container {
    display: flex;
    width: 400%; /* To accommodate 4 statistics */
    position: absolute;
  }
  
  .stat-card {
    flex-shrink: 0;
    width: 25%; /* Each stat takes 1/4th of the container's width */
    padding: 0 1rem;
  }
  